* {
    padding: 0;
    box-sizing: border-box;
}

body{
        padding-top: 50px;
        margin: auto;
        width: 91%;
        background-color: lightgrey;
}
.box-oggetto {
    position: relative;
    display: inline-block;
    height: 300px;
    width:450px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.sfondo-uno {
    background-image: url(../img/cell1.jpg);
}

.sfondo-due {
    background-image: url(../img/pc.jpg);
}

.sfondo-tre {
    background-image: url(../img/tv.jpg);
}

.sfondo-quattro {
    background-image: url(../img/cuffie.jpg);
}

.sfondo-cinque {
    background-image: url(../img/mouse.jpg);
}
.sfondo-sei {
    background-image: url(../img/gopro.jpg);
}

.blocco-sconto {
    height: 20px;
    width: 40px;
    position: absolute;
    right: 30px;
    top:5px;


}

.colore-sconto1 {
    background-color: red;
}

.colore-sconto2{
    background-color: yellow;
}

.colore-sconto3 {
    background-color: blue;
}

.colore-sconto4 {
    background-color: green;
}

.colore-sconto5 {
    background-color: yellow;
}

.colore-sconto6 {
    background-color: pink;
}

span {
    position:absolute;
    bottom: 0;
    left: 215px;
    /* opacity: 0.0 */
    z-index: -1;

}

.box-oggetto:hover span{

    /* opacity: 1; */
    z-index: 9999;
    color:red;
    font-size: 40px;
}
